NET "EI" LOC "C1";
NET "I[7]" LOC  "D1";
NET "I[6]" LOC  "E3";
NET "I[5]" LOC  "E1";
NET "I[4]" LOC  "F3";
NET "I[3]" LOC  "F1";
NET "I[2]" LOC  "G3";
NET "I[1]" LOC  "H7";
NET "I[0]" LOC  "H3";
NET "A[2]" LOC  "N1";
NET "A[1]" LOC  "K9";
NET "A[0]" LOC  "L9";
NET "GS" LOC  "M1";
NET "CO" LOC  "N2";