NET "clk" LOC = AF13;
NET "clrn" LOC=K5;
NET "a[7]" LOC = D1;
NET "a[6]" LOC=E3;
NET "a[5]" LOC =E1;
NET "a[4]" LOC=F3;
NET "a[3]" LOC =F1;
NET "a[2]" LOC=G3;
NET "a[1]" LOC =H7;
NET "a[0]" LOC=H3;
NET "b[7]" LOC = G6;
NET "b[6]" LOC=E6;
NET "b[5]" LOC = G5;
NET "b[4]" LOC=E4;
NET "b[3]" LOC = B2;
NET "b[2]" LOC=C2;
NET "b[1]" LOC = B1;
NET "b[0]" LOC=C1;
NET "load_a" LOC = G8;
NET "load_b" LOC=C9;
NET "start" LOC = A9;
NET "done" LOC=L9;
NET "data_1_7seg[0]" LOC = E19;
NET "data_1_7seg[1]" LOC = E20;
NET "data_1_7seg[2]" LOC = A19;
NET "data_1_7seg[3]" LOC = F17;
NET "data_1_7seg[4]" LOC = E18;
NET "data_1_7seg[5]" LOC = C21;
NET "data_1_7seg[6]" LOC = C17;
NET "data_0_7seg[0]" LOC = J14;
NET "data_0_7seg[1]" LOC = B12;
NET "data_0_7seg[2]" LOC = F16;
NET "data_0_7seg[3]" LOC = C18;
NET "data_0_7seg[4]" LOC = D18;
NET "data_0_7seg[5]" LOC = D13;
NET "data_0_7seg[6]" LOC = A18;
NET "scan_en_0[3]" LOC = G14;
NET "scan_en_0[2]" LOC = C15;
NET "scan_en_0[1]" LOC = A17;
NET "scan_en_0[0]" LOC = E16;
NET "scan_en_1" LOC = G17;
